@import "primeicons/primeicons.css";

body {
  margin: 1.2rem;
}

form {
  .field {
    display: block;
    margin-top: 3rem;

    .label {
      padding-left: 1rem;
      padding-bottom: 1rem;
    }

    input,
    textarea {
      width: 50%;
    }

    .p-float-label input:focus ~ label,
    .p-float-label input.p-filled ~ label,
    .p-float-label textarea:focus ~ label,
    .p-float-label textarea.p-filled ~ label,
    .p-float-label .p-inputwrapper-focus ~ label,
    .p-float-label .p-inputwrapper-filled ~ label {
      top: -0.9rem;
    }

    .p-float-label > label {
      left: 0.4rem;
    }
  }
  .required::before {
    display: inline-block;
    margin-right: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
  }
}

table {
  tr.data-row {
    font-weight: 700;
    font-size: large;
  }

  tr.data-row-sub {
    font-weight: 600;
    font-size: large;
  }

  td.sub-content {
    background-color: #abc9fb;
  }
}

.p-menu {
  border: none;
  border-radius: 0;
  padding: 0;
}

.p-menubar {
  border: none;
  border-radius: none;
  padding: 0;
}

.p-panel {
  border: none;
  border-radius: none;
}

.p-tabview .p-tabview-nav {
  border: none;
  border-width: none;
}
