.sport-category-rule-form {
	width: 100%;

	.period-participant {
		display: flex;
		gap: 1rem;
		margin-top: 1rem;

		.fieldset {
			flex: 1;
		}
	}
}
button {
	margin-left: 8px;
}

.field {
	display: block;
	margin-top: 30px;

	.label {
		font-size: 12px;
		padding-left: 10px;
		padding-bottom: 10px;
	}
}
